*{
  margin:0px;
  paddin:0px;
  box-sizing:border-box;
}
body{
  max-height: 842px;
  background-color: #DBDBE7;
  width: 595px;
  display:flex;
  flex-direction: column;
}
.main-topic{
  width:100%;
  min-height: 100px;
  background-color: #9FA0AF;
}
.omr-box{
  display:grid;
  max-height: 642px;
  grid-template-rows:repeat(25, 1fr);
  grid-template-columns:repeat(4,145px);
 grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.omr-box div{
  
  width: 100%;
  background-color: blue;
  gap: 5px;
}